@charset "UTF-8";

h1 {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #FF4800;
}


p {
  /*background-color: red;*/
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  line-height: 1.5em;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  line-height: 1.5em;
}

header {
  display: block;
  padding-top: 5em;
  padding-bottom: 2em;
  border-bottom: 1px solid grey;
  margin-bottom: 5em;
  /*background-color: yellow;*/
}

footer {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  padding-top: 2em;
  padding-bottom: 2em;
  bottom:0;
  width:100%;
  max-width: 1000px;
  height:30px;   /* Height of the footer */
  background: #ffffff;
  display: block;
  border-top: 1px solid grey;
  margin: 0;
}


.home {
  font-size: 2.375rem;
  font-weight: 400;
  color: 000000;
  letter-spacing: 1px;
  text-align: left
  text-transform: uppercase;
  width: 30%;
  font-family: "Black Han Sans", sans-serif;
  display: block;
  padding: 0;
  /*background-color: red;*/
}

.menu__item{
  font-size: 1.375rem;
  color: 000000;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 100;
  display: block;
  padding-top: 10px;

  /*background-color: red;*/

}

.thumbnail{
  width: 100%;
  background-color: black;
}

.wrapper {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
  margin-bottom: 0;
}

.title {
  font-size: 1.375rem;
  color: 000000;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 100;
  /*background-color: yellow;*/
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5em;
  padding: 0;
}

.worktitle {
  font-size: 2.375rem;
  color: 000000;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 100;
  /*background-color: yellow;*/
  display: block;
  clear: right;
  margin: 0 auto;
  margin-bottom: 0.5%;
  padding: 0;
  line-height: 1.1em;
}

.sort {
  font-family: "Noto sans", sans-serif;
  margin-bottom: 2%;
  display: block;
  color: #C9C9C9;
}

.description {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 2%;
}



.experience{
  margin-bottom: 5em;
  display: inline-block;
  clear: right;
}

.education {
  margin-bottom: 5em;
  display: inline-block;
  float: right;
}
.expDiv {
  margin-bottom: 2em;
}

.date {
  margin-bottom: 0.5em;
  color: #C9C9C9;
}

.jobTitle {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
  line-height: 1.5em;

}

.about {
  display: block;

}

.duration {
  margin-bottom: 2%;
  color: #C9C9C9;
}

.works {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 2%;
  list-style-type: none;

  display: block;

}

.prewiew {
  width: 100%;
  display: block;

}

.project {
  margin-bottom: 5em;
  padding-bottom: 5em;
  border-bottom: 1px solid #C9C9C9;
}

.project-last {
  margin-bottom: 5em;
  padding-bottom: 5em;
}

ul {
  margin-bottom: 0.5%;
}
/*media Queries*/

@media (min-width: 769px) {
  .wrapper {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .home {
    font-size: 2.375rem;
    font-weight: 400;
    color: 000000;
    letter-spacing: 1px;
    text-align: left
    text-transform: uppercase;
    width: 30%;
    font-family: "Black Han Sans", sans-serif;
    display: inline-block;
    padding: 0;
    /*background-color: red;*/
  }

  .menu__item{
    font-size: 1.375rem;
    color: 000000;
    letter-spacing: 1px;
    text-align: right;
    text-transform: uppercase;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 100;
    clear: left;
    display: inline-block;
    padding-top: 10px;
    float: right;
    /*background-color: red;*/
  }

  .container {
    min-height: calc( 100vh - 53px);
  }



}
